[Desktop Entry]
Type=Application
Name=funtypyst
Exec=funtypyst bash -c 'tmux new; until ! tmux attach; do :; done'
Icon=gnome-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
