[Desktop Entry]
Type=Application
Name=typyst
Exec=typyst bash -c 'tmux attach || tmux new; until ! tmux attach; do :; done'
Icon=gnome-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
